body {
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    min-height: calc(100vh - 100px); 
    background: #ccc;
  }


/* header-pogas */
.nav {
    font-family: "Goldman", sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    background: white;
}

.nav-left {
    margin-right: auto;
  }

.nav a {
    font-size: 25px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav a:hover {
    color: fuchsia;
  }
  

/* attels */
.header-image img {
    display: block;
    margin: auto;
  }
  

/* virsraksts */
  .black-bar {
    background-color: black;
    text-align: center;
    padding: 15px 0;
  }
  
  .black-bar h1 {
    font-family: "Goldman", sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    letter-spacing: 3px;
  }
  

/* registracijas logs */
.form-container {
    padding: 4em;
    text-align: center;
}

.tab-selector {
    display: flex;
    justify-content: center;

}

.tab-selector button {
    padding: 1.5em;
    width: 22%;
    border: none;
    background: #bebebe;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 10px 10px 0 0;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
}

.tab-selector .active {
    background: #ffffff;
}

.form-content {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 4em;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    
}

.form-content input, .form-content select {
    padding: 2em;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* poga lai apstiprināt registrāciju */
.form-content button {
    background: fuchsia;
    color: white;
    border: none;
    padding: 1.5em;
    width: 30%;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-content button:hover {
    background: rgb(172, 9, 109);
    color: rgb(255, 255, 255);
}
/* paslepj otro ievades logu */
.hidden {
    display: none;
}


/* footer */
.footer {
    background-color: #f5a700; 
    padding: 30px 50px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    font-weight: bold;
  }
  
  .social-icons a {
    margin-left: 15px;
  }
  
 .social-icons a svg {
    width: 30px;
    height: 30px;
  }
  